doppler-sdk
openai
nltk
spacy
textblob
deep-translator
wordcloud
matplotlib
plotly
pandas
imageio
pillow
numpy
tensorflow
streamlit
faiss-cpu
transformers
langchain
langchain-core
langchain-openai
chromadb
langchain-chroma
langchain-community
langchain-text-splitters
langchain-ollama

